<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FKCalendarView.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FKCalendarViewSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AD5AA4031CF880940095376C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5AA4171CF880940095376C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5AA4221CF880940095376C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5AA4401CF8821B0095376C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AD5AA4491CF8821C0095376C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
